{% import '_includes/forms.twig' as forms %}

<fieldset>

	<h2>General Plugin Settings</h2>

    {{ forms.lightswitchField({
        label: 'Enabled',
        id: 'enabled',
        name: 'enabled',
        on: settings.enabled
    }) }}

    {{ forms.dateField({
        label: 'Date From',
        id: 'dateFrom',
        name: 'dateFrom',
        value: settings.dateFrom.date ? settings.dateFrom : false
    }) }}

    {{ forms.dateField({
        label: 'Date To',
        id: 'dateTo',
        name: 'dateTo',
        value: settings.dateTo.date ? settings.dateTo : false
    }) }}

 </fieldset>

<hr>

{% set memberGroups = craft.app.userGroups.getAllGroups() %}
{% set contentFreezeGroups = [] %}
{% for memberGroup in memberGroups %}
    {% set contentFreezeGroups = contentFreezeGroups|merge([
        {
            label: memberGroup.name,
            value: memberGroup.id
        }
    ]) %}
{% endfor %}

<fieldset>

	<h2>User Groups</h2>

    <table class="data fullwidth">
        <thead>
            <tr>
                <th>Group Name</th>
                <th>Freeze</th>
                <th>Content Freeze Group</th>
            </tr>
        </thead>
        <tbody>
            {% for group in memberGroups|filter(group => 'Content Freeze' not in group.name) %}
                <tr>
                    <td>{{ group.name }}</td>
                    <td>
                        {{ forms.lightswitchField({
                            id: '',
                            name: 'memberGroups[' ~ group.id ~ '][enabled]',
                            on: settings.memberGroups[group.id].enabled ?? false
                        }) }}
                    </td>
                    <td>
                        {{ forms.selectField({
                            id: '',
                            name: 'memberGroups[' ~ group.id ~ '][contentFreezeGroup]',
                            options: contentFreezeGroups,
                            value: settings.memberGroups[group.id].contentFreezeGroup ?? null
                        }) }}
                        <a href="{{ url('actions/content-freeze/user-groups/clone-and-redirect', { groupId: group.id }) }}">
                            Clone with &quot;View Only&quot; permissions
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

</fieldset>

<hr>

<fieldset>

	<h2>Notices</h2>

    {{ forms.lightswitchField({
        label: 'Show Notice Pane',
        id: 'showNoticePane',
        name: 'showNoticePane',
        on: settings.showNoticePane
    }) }}

    {{ forms.textField({
        label: 'Notice Pane Heading',
        id: 'noticePaneHeading',
        name: 'noticePaneHeading',
        value: settings.noticePaneHeading
    }) }}

    {{ forms.textareaField({
        label: 'Notice Pane Text',
        id: 'noticePaneText',
        name: 'noticePaneText',
        value: settings.noticePaneText,
        instructions: 'Use <code>{dateFrom}</code> and <code>{dateTo}</code> to display the freeze dates.'
    }) }}

    {{ forms.lightswitchField({
        label: 'Show Notice Bar',
        id: 'showNoticeBar',
        name: 'showNoticeBar',
        on: settings.showNoticeBar
    }) }}

    {{ forms.textField({
        label: 'Notice Bar Text',
        id: 'noticeBarText',
        name: 'noticeBarText',
        value: settings.noticeBarText
    }) }}

 </fieldset>

<hr>